<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/logo/Logo.png" alt="Notmify logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>

    <ion-row>
      <ion-col size="12">
        <h4 class="ion-text-center">Get a reminder email at any time you request, for free!</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <form #form="ngForm"
              (ngSubmit)="submitEvent(form)">

          <ion-item>
            <ion-label>Name</ion-label>
            <ion-input name="name"
                       ngModel></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input name="email"
                       ngModel></ion-input>
          </ion-item>

          <ion-item-group ngModelGroup="datetime">
            <ion-item-divider>
              <ion-label><strong>Reminder</strong></ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-label>Date</ion-label>
              <ion-datetime name="date"
                            pickerFormat="DD MM YYYY"
                            ngModel></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label>Time</ion-label>
              <ion-datetime name="time"
              displayFormat="h:mm A"
                            pickerFormat="HH mmA"
                            ngModel></ion-datetime>
            </ion-item>
          </ion-item-group>

          <ion-item>
            <ion-label position="floating">Notes</ion-label>
            <ion-textarea name="notes"
                          ngModel
                          placeholder="What is this reminder for?"></ion-textarea>
          </ion-item>

          <ion-button class="ion-float-right"
                      type="submit">
            Set Reminder
          </ion-button>

        </form>

      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>